body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background: url(../img/heroImage.jpg) no-repeat center top / cover;
  height: 600px;
  width: 100%;
  max-width: 1920px;
  min-height: 700px;
  margin: 0 auto;
}

/* do not count padding*/
div {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

nav ul {
  padding: 0;
  margin: 0;
  display: block;
  list-style-type: none;
}

.menu li {
  margin: 20px 0 20px 0;
  float: left;
  display: block;
  margin-right: 50px;
}

.menu a {
  color: green;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px 10px 15px;
}

.menu li a:hover {
  background-color: green;
  color: white;
}

.top_title {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  margin-top: 40px;
}

.second_title {
  font-family: Lobster;
  font-size: 25px;
  font-style: normal;
  font-weight: 20;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  margin-top: 20px;
}

h2 {
  margin: 20px 0 20px 0;
  text-transform: uppercase;
}

.col-md-12 {
  padding-bottom: 30px;
}

.col-md-4 {
  text-align: center;
  padding: 0;
}

.frame {
  width: inherit;
  border: 3px solid green;
}

.frame:hover {
  box-shadow: 0 0 50px green;
}

.frame a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.frame img {
  width: inherit;
  height: 350px;
  min-height: 350px;
  border-bottom: 3px solid green;
  object-fit: cover;
}

.product_name {
  font-family: Lobster;
  font-size: 35px;
  color: blacks;
  position: relative;
  width: 100;
  background-color: rgba(0,255, 0, 0.4);
  z-index: 1;
}

.frame_menu {
  width: inherit;
  padding: 7px;
}

.package_options {
  width: 100%;
  margin: 10px 20px 10px 20px;
}

.frame_menu .country_price ul {
  padding: 10px 0 0 0;
  margin: 0;
  display: block;
  list-style-type: none;
  justify-content: center;
  width: inherit;
}

.frame_menu .country_price li {
  display: block;
  text-transform: uppercase;
  margin-top: 10px;
}

.country_name {
  padding: 10px 0 10px 0;
}

.frame_menu .more_qnty ul {
  padding: 0;
  margin: 0;
  display: block;
  list-style-type: none;
  justify-content: center;
  padding-inline-start:0px;
}

.frame_menu .more_qnty li {
  display: block;
}

.qnty_number li{
  float: left;
  display: inline-block;
  margin-right: 5px;
}

.qnty_number li:first-child {
  margin-left: 30px;
}

.qnty_number li p {
  text-transform: uppercase;
}

.frame_menu .more_info {
  background-color: green;
  padding: 10px 0 10px 0;
  margin: 10px 20px 10px 20px;
}

.more_info a {
  color: white;
}

.frame_menu .button {
  width: 100%;
  border: 1px solid green;
  margin: 15px 20px 15px 20px;
  padding: 10px 0 10px 0;
}

.qnty {
  text-transform: uppercase;
}

footer {
  background-color: black;
  margin: 0;
  padding: 0;
}

footer .col-md-4 {
  text-align: center;
}

footer h2 {
  font-size: 25px;
  text-align: center;
  color: white;
  margin: 0;
  padding-top: 20px;
}

footer p {
  font-size: 20px;
  color: white;
}

.social_links {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.social_links li {
  display: block;
  float: left;
  text-decoration: none;
  margin-right: 20px;
}
