/* Design of main page */
body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

/* do not count padding */
div {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  padding: 0;
  margin: 0;
}
